@mixin backgroundImageStyle {
    background-image: url("https://www.redcross.org/content/dam/redcross/homepage-assets/fdr-banners/disaster-relief/2022-flood/Water%20DR%20Desktop.jpg.transform/1288/q70/feature/image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 505.5px;
}