$White: #FFFFFF;
$PMS-Cool-Grey: #6D6E70;
$Red-Cross-Red: #ED1B2E;
$Black: #000000;

$Light-Grey: #D7D7D8;
$Medium-Grey: #9F9FA3;

$Khaki: #E2D7AC;
$Sand: #B4A996;
$Gold: #ECB731;
$Safety-Green: #8EC06C;
$Forest-Green: #537B35;
$Light-Blue: #C4DFF6;
$Sky-Blue: #56A0D3;
$Classic-Blue: #0091CD;
$Midnight-Blue: #004B79;
$Deep-Red: #7F181B;